<div class="mt-5 mx-auto d-block photo-wrapper">
    <div>
        <a href="@Model.Url" target="_blank">
            <img src="@Model.Url" class="mw-100 rounded-3" />
        </a>
    </div>
    <div class="text-start mt-3">
        @Model.Description
    </div>
    <div class="text-end mt-2">
        <strong>@Model.User</strong>
    </div>
</div>